.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: fit-content;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.MainAnimation {
  text-align: center;
}

.Anchor {
}

.DG-Block{
  font-size: 200%;
}
